    <div class="container w-50">
        <div class="jumbotron bg-white text-center border">
            <h1 class="display-4 mb-4">L.A.D.S Personality Test</h1>
            <div class="lead pt-4">
                <p>How's your self-awarenesss? Get a new perspective on you.</p>
                <p>Taken by over 2 million people annually, The Myers Briggs Type Indicator (MBTI) is the most popular personality test in the world.</p>
                <p>Let these personality insights guide your success.</p>
            </div>
            <hr class="my-4">
            <p class="lead">If you are a "Returning User", click the link at the top of the page. If you are new, click "Let's Begin!" to take the test!</p>
            <a class="btn btn-primary btn-lg btn-block mt-4" href="#" role="button">Let's Begin!</a>
          </div>
    </div>