<div class="container w-50">
    <div class="jumbotron bg-white text-center border">
        <img src="/assets/img/lads_logo.pdf" class="mb-4"></img>
        <div class="lead pt-4">
            <p>How's your self-awarenesss? Get a new perspective on you.</p>
            <p>Taken by over 2 million people annually, The Myers Briggs Type Indicator (MBTI) is the most popular
                personality test in the world.</p>
            <p>Let these personality insights guide your success.</p>
        </div>
        <hr class="my-4">
        <p class="lead">Want to learn more? Take your free test now! </p>
        <a class="btn btn-warning btn-lg btn-block mt-4" id="beginButton" role="button">Let's Begin!</a>
    </div>
</div>