/* body {
  background-image: url('../img/lads_webpage.png');
} */

body, html {
  height: 100%;
  margin: 0;
  font-family: ;
}

body {
  /* The image used */
  background-image: url("../img/lads_webpage_2.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Row margin to match container */
.row1 {
    margin: auto;
}

/* Remove border on card of strength and weakness*/
.card1 {
    border: none;
}

/* Place strengths and weaknesses on multiple lines  */
.multiline {
    white-space: pre-wrap;
}

/* Section 3 card margin-bottom  */
.card2 {
    margin-bottom: 2rem!important;
}

/* Change button width  */
.btn-width {
  width: 50%;
}
 
/* Login menu size increase  */
.dropdown-menu {
  width: 225px;
}


  
